.menu{
    position: sticky;
    top: 0px;
    background-color: beige;
    z-index: 2;
}
/* .top {
    padding-top: 100px;
} */

.box{
    z-index: 1;
    position: relative;
    border: 3px solid red;
    width: 500px;
    height: 500px;
    top: 200px;
    left: 200px;
}

.box-hijo{
    position: absolute;
    border: 3px solid aqua;
    top: 50px; 
    left: 20px;
    width: 50%;
    height: 50%;
}

.box-nieto{
    /* position: static; */
    position: absolute; /* si el absolute ya esta dentro de un absolute, toma al padre de el como el relativo */
    width: 50px;
    height: 50px;
    border: 3px solid rgb(68, 250, 59);
    top: 20px;
    left: 20px;
}